node_modules
dist
dist-ssr
*.local
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.log
.env
.env.local
.env.*.local

# kopiowane z node_modules przez `bun run prepare:wasm`
public/mediapipe-wasm
